---
title: Open source downloads
layout: make.jade
tagline:
order: 3
---

h2 Bill of Materials
a(href='/assets/downloads/SLAME_V2_BOM.xlsx') Excel format (.xslx)

h2 CAD Files (SolidWorks)
a(href='https://www.dropbox.com/sh/7d4svx1u3dpoqu1/AACrMRyvFSj7ARmHap_C2SvFa?dl=0') Dropbox Folder

h2 PCB Design Files (Eagle)
strong Github repo
| :
a(href='https://github.com/mitchgu/SLAMStruder-board') mitchgu/SLAMStruder-board

h2 Microcontroller (Teensy 3.x) Firmware (C++)
strong Github repo
| :
a(href='https://github.com/mitchgu/SLAMStruder-firmware') mitchgu/SLAMStruder-firmware
