---
title: Making the SLAMStruder
layout: twocol.jade
tagline:
order: 1
---

style.
  .thumbnav figcaption {
    text-transform: uppercase;
  }
  .thumbnav li {
    margin-top: 0
  }

mixin thumbnav(src, href, caption)
  li
    a(href=href).uk-overlay
      img(src="/assets/img/" + src)
      figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-bottom.uk-text-bold #{caption} #[i.uk-icon-arrow-right]

p.uk-alert Before starting, check out the #[a(href="../prereqs") prerequisites.]

ul.thumbnav.uk-thumbnav.uk-grid-width-1-1.uk-margin
  +thumbnav("hardware/waterjet_a.png", "../../hardware", "1. Make the Hardware")
  +thumbnav("electronics/pcb_a.png", "../../electronics", "2. Make the Electronics")
  +thumbnav("software/firmware_a.png", "../../software", "3. Make the Software")
