---
title: Making the SLAMStruder
layout: make.jade
tagline:
order: 1
---

mixin overlay-nav(src, href, caption)
  a(href=href)
    figure.uk-overlay.overlay-nav.uk-overlay-hover.uk-margin-large
      img(src="/assets/img/" + src).uk-overlay-fade
      figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-bottom.uk-ignore.uk-text-right.uk-text-bold Make the #{caption} #[i.uk-icon-arrow-right]

p Before starting, check out the #[a(href="../prereqs") prerequisites]

+overlay-nav("hardware/waterjet_a.png", "../../hardware", "Hardware")
+overlay-nav("electronics/pcb_a.png", "../../electronics", "Electronics")
+overlay-nav("Software/firmware_a.png", "../../software", "Software")
