---
layout: showcase.jade
---

section.uk-block.uk-block-muted.uk-margin-large
  .uk-container
    h2.uk-text-bold What is it?
    hr
    p The SLAMStruder is a 3D printing extruder designed for use on six-axis robotic arms. The goal of the SLAMStruder is to enable extrusion of 3D printable plastics in free-air instead of in layers. When paired with a six-axis robotic arm, the SLAMStruder can be used to print pre-programmed, high quality 3D lattices in a layer-free manner.
        h4.uk-text-right
          a(href="guide/intro") Learn more #[i.uk-icon-arrow-right]
