---
layout: onecol.jade
---
script(src="/assets/uikit/js/components/lightbox.min.js")

mixin icon-link(href, name, icon)
  .uk-width-1-3
    a(href=href)
      .uk-panel.uk-panel-box
        h3.uk-text-center
          | #{name}
        p.uk-text-center
          i(class="uk-icon-large uk-icon-" + icon)

h1 The SLAMStruder
.uk-grid.uk-grid-match(data-uk-grid-match="{target:'.uk-panel'}")
  +icon-link('/guides', "Usage Guides", "file-text-o")
  +icon-link('/technicals', "Technical Info", "info-circle")
  +icon-link('/sources', "Sources", "code")

h3 What is it?
<hr>
p The SLAMStruder is a 3D printing extruder designed for use on six-axis robotic arms. The goal of the SLAMStruder is to enable extrusion of 3D printable plastics in free-air instead of in layers. When paired with a six-axis robotic arm, the SLAMStruder can be used to print pre-programmed, high quality 3D lattices in a layer-free manner.

a(href="/assets/img/general/unmounted.jpg", data-uk-lightbox="", title="The SLAMStruder")
  img.uk-responsive-width(src='/assets/img/general/unmounted.jpg')
