extends nav
block links

  li.uk-nav-header Technical Details
  each detail in collections.details
    if path == detail.path
      li.uk-active
        a(href="/" + detail.path)!= detail.title
    else
      li
        a(href="/" + detail.path)!= detail.title
