extends nav
block links
  li.uk-nav-header Guides
  each guide in collections.guides
    if path == guide.path
      li.uk-active
        a(href="/" + guide.path)!= guide.title
    else
      li
        a(href="/" + guide.path)!= guide.title
