header
  nav.uk-navbar
    a(href='/').uk-navbar-brand SLAMStruder Docs
    ul.uk-navbar-nav
      li
        a(href='/guides') Guide
      li
        a(href='/technicals') Technical Info
      li
        a(href='/sources') Source Files
      li
        a(href='#sidebar-offcanvas', data-uk-offcanvas).uk-visible-small
          i.uk-icon-bars
