header
  nav.uk-navbar
    a(href='/').uk-navbar-brand SLAMStruder Docs
    ul.uk-navbar-nav
      li
        a(href='/guides') User Guide
      li
        a(href='/make') Make
      li
        a(href='/details') Technical Details
      li
        a(href='#sidebar-offcanvas', data-uk-offcanvas).uk-visible-small
          i.uk-icon-bars
