meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
title SLAMStruder Docs
link(href='/assets/uikit/css/uikit.almost-flat.min.css', rel='stylesheet')
link(href='/assets/css/main.css', rel='stylesheet')
script(src='https://code.jquery.com/jquery-2.2.1.min.js')
script(src='/assets/uikit/js/uikit.min.js')
script(src='http://localhost:35729/livereload.js')

