extends nav
block links

  each section in collections.makes
    li.uk-nav-header #{section.section.replace('-',' ')}
    each make in section
      if path == make.path
        li.uk-active
          a(href="/" + make.path)!= make.title
      else
        li
          a(href="/" + make.path)!= make.title
