extends nav
block links

  each section in collections.makes
    if section.section != "intro"
      li.uk-nav-header #{section.section}
    each make in section
      if path == make.path
        li.uk-active
          a(href="/" + make.path)!= make.title
      else
        li
          a(href="/" + make.path)!= make.title
