extends nav
block links

  li.uk-nav-header Sources
  each source in collections.sources
    if path.href + path.name  == source.path.href + source.path.name
      li.uk-active
        a(href=source.path.href+source.path.name)!= source.title
    else
      li
        a(href=source.path.href+source.path.name)!= source.title
