extends base

block preamble
  - css.push('showcase.css')

block middle
  .uk-grid.uk-grid-collapse
    .uk-width-large-1-2.uk-width-xlarge-1-3#showcase-left.scrollpane
      #not-the-footer.uk-container
        div
          h1.uk-margin-bottom The SLAMStruder
          .uk-grid.uk-grid-match(data-uk-grid-match="{target:'.uk-panel'}")
            each section in sections
              +icon-link(section.route, section.name, section.icon)

          div#content!= contents

      include partials/footer.jade

    .uk-width-large-1-2.uk-width-xlarge-2-3#showcase-right.scrollpane
      each fi in featureImages
        +feature-image(fi.src, fi.caption)



mixin icon-link(href, name, icon)
  .uk-width-1-3.icon-link
    a(href=href)
      .uk-panel.uk-panel-box
        h3.uk-text-center
          | #{name}
        p.uk-text-center
          i(class="uk-icon-large uk-icon-" + icon)

mixin feature-image(src, caption)
  figure.uk-overlay.feature-image
    img.uk-responsive-width(src="/assets/img/" + src)
    figcaption.uk-overlay-panel.uk-overlay-background.uk-overlay-bottom.uk-overlay-fade
      h3.uk-text-right.uk-text-bold!= caption
