extends base

block middle
  #twocol.uk-flex
    aside#sidebar.uk-hidden-small
      block nav
    div#content.uk-container
      block main
    aside#sidebar-offcanvas.uk-offcanvas
      .uk-offcanvas-bar
        block nav
