extends base

block preamble
  - css.push('twocol.css')
  - twocol = true
  block prepreamble

block middle
  aside.sidebar#sidebar.uk-hidden-small
    block nav
  div#content.uk-container
    block main
  aside.sidebar#sidebar-offcanvas.uk-offcanvas
    .uk-offcanvas-bar
      block nav
