.uk-container
  max-width: 900px

#content
  padding-top: 30px
  padding-bottom: 80px

#footer
  background-color: #444

#twocol
  #sidebar
    width: 300px
    padding: 20px
  #content
    padding: 20px
    flex: 1
